<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="https://via.placeholder.com/500x350?text=Logo%20Image" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4"><a href="{{i.url}}" target="_blank">{{i.name}}</a></p>
        <p class="subtitle is-6">{{i.role}}</p>
      </div>
    </div>
  </div>
</div>